*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#container{
  display: flex;
  justify-content: center;
  text-align: center;
  width: 100%;
  height: 100vh;
  background: linear-gradient(to top,  rgb(255, 255, 255), rgba(114, 172, 227, 0.943));
}

#calculator{
  background: linear-gradient(to top, rgba(0,0,0,0.7), rgba(0,0,0,0.7));
  margin-top: 20px;
  margin-bottom: 30px;
  border-radius: 10px;
  height: auto;
}

#logo{
  font-size: 38px;
  margin-top: 20px;
  color: #fff;
  font-family: 'Trebuchet MS';
}

#container form input{
  width: 60px;
  height: 60px;
  margin: 10px;
  border-radius: 50px;
  font-size: 20px;
  font-family: 'Trebuchet MS';
  font-weight: bold;
  /* color: red; */
  cursor: pointer;
  transition: 0.7s ease-in;
}

#display{
  display: flex;
  justify-content: flex-end;
  margin: 30px;
}

#display input{
  flex: 1.5;
  font-weight: bold;
  color: black;
  text-align: end;
  font-size: 60px;
  padding-right: 20px;
  box-shadow: 0px 5px 15px 0px lightskyblue;
}

.btn{
  background: green;
  color: white;
}

.btn:hover{
  background: transparent;
  color: lightskyblue;
}

.btn-1{
  background: lightskyblue;
  color: rgb(255, 255, 255);
}

.btn-1:hover{
  background: transparent;
}


